In [12]:
import requests
import pandas as pd

In [13]:
# Define the API keys
distance_matrix_api_key = "api_key"
geocoding_api_key = "api_key"

In [14]:
distance_matrix_base_url = "https://maps.googleapis.com/maps/api/distancematrix/json"
geocoding_base_url = "https://maps.googleapis.com/maps/api/geocode/json"

In [15]:
# Read the destinations from the file
with open("dests.txt", "r") as f:
    destinations = f.read().splitlines()


results = []

In [16]:

for dest in destinations:
    
    distance_matrix_params = {
        "origins": "Tel Aviv",
        "destinations": dest,
        "key": distance_matrix_api_key
    }
    distance_matrix_response = requests.get(distance_matrix_base_url, params=distance_matrix_params)
    distance = distance_matrix_response.json()["rows"][0]["elements"][0]["distance"]["value"] / 1000  # convert to kilometers
    duration = distance_matrix_response.json()["rows"][0]["elements"][0]["duration"]["text"]
    
    
    geocoding_params = {
        "address": dest,
        "key": geocoding_api_key
    }
    geocoding_response = requests.get(geocoding_base_url, params=geocoding_params)
    location = geocoding_response.json()["results"][0]["geometry"]["location"]
    latitude = location["lat"]
    longitude = location["lng"]
    
    # Add the results to the list
    results.append({
        "Target": dest,
        "Distance_km": distance,
        "Duration (hour+minutes)": duration,
        "Longitude": longitude,
        "Latitude": latitude
    })

In [17]:
df = pd.DataFrame(results)

In [18]:
#print the data frame
df

      Target  Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul     1815.227         21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4527.132          2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883          2 days 3 hours  14.514100  35.899237
3      Basel     4092.805          1 day 20 hours   7.588576  47.559599
4       Doha     2164.477        22 hours 39 mins  51.531040  25.285447

In [19]:
sorted_df = df.sort_values(by="Distance_km", ascending=False)

# Get the top 3 cities furthest from Tel Aviv
top_3_furthest = sorted_df.head(3)

# Print the top 3 cities furthest from Tel Aviv
print(top_3_furthest["Target"])

1    Amsterdam
3        Basel
2     Valletta
Name: Target, dtype: object